@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap");

* {
	font-family: "Kanit", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--body-color: #f8f4ea;
	--nav-color: #dcdcdce2;
	--primary-color: #579bb1;
	--primary-color-light: #ffffff;
	--toggle-color: #ece8dd;
	--text-color: #232222;

	--tran-03: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.4s ease;
	--tran-05: all 0.5s ease;
}

.blue {
	background-color: blue;
}

a {
	color: black;
}

.main-content {
	width: 100%;
	display: block;
	height: 100%;
	margin: 50px 50px 50px 50px;
}

.option-item {
	display: block;
	position: relative;
	width: 150px;
	height: 150px;
}

.option-inner {
	width: 100%;
	height: 100%;
	/* background: rgb(141, 77, 77); */
	border-radius: 5px;
	text-align: center;
	padding: 58px 40px;
	cursor: pointer;
	color: #000000;
	display: block;
	border: 5px solid transparent;
	position: relative;
}

.checkbox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
}

.icon {
	font-size: 2em;
	margin-bottom: 5px;
}

.icon-label {
	font-size: 11px;
}

.tickmark {
	position: absolute;
	top: 0;
	left: 0;
	border: 20px solid;
	border-color: #000 transparent transparent #000;
	display: none;
}

.tickmark:before {
	content: "";
	position: absolute;
	top: -18px;
	left: -18px;
	width: 15px;
	height: 5px;
	border: 3px solid;
	border-color: transparent transparent #fff #fff;
	transform: rotate(-45deg);
}

.checkbox:checked ~ .option-inner .tickmark {
	display: block;
}

.checkbox:checked ~ .option-inner.facebook {
	border-color: #3b5999;
	color: #3b5999;
}

.option-inner.facebook .tickmark {
	border-color: #3b5999 transparent transparent #3b5999;
}

.checkbox:checked ~ .option-inner.linepost {
	border-color: #47e459;
	color: #47e459;
}

.option-inner.linepost .tickmark {
	border-color: #47e459 transparent transparent #47e459;
}

.checkbox:checked ~ .option-inner.linemessage {
	border-color: #47e459;
	color: #47e459;
}

.option-inner.linemessage .tickmark {
	border-color: #47e459 transparent transparent #47e459;
}

.checkbox:checked ~ .option-inner.googlecampaign {
	border-color: #ef5a40;
	color: #ef5a40;
}

.option-inner.googlecampaign .tickmark {
	border-color: #ef5a40 transparent transparent #ef5a40;
}

.checkbox:checked ~ .option-inner.googlesitetraffic {
	border-color: #ef5a40;
	color: #ef5a40;
}

.option-inner.googlesitetraffic .tickmark {
	border-color: #ef5a40 transparent transparent #ef5a40;
}

#drop-box {
	width: 80%;
	height: 300px;
	border: 4px dashed #a5a5a5;
	border-radius: 4px;
	margin-bottom: 20px;
}

#upload-icon {
	font-size: 3em;
	margin-bottom: 3px;
	color: #a5a5a5;
}

/* #config {
	display: block;
} */

.hidden {
	display: none;
}

#upload-icon.highlight {
	color: #000000;
}

#drop-box.highlight {
	border-color: #000000;
}

/* #drop-box p {
	margin-top: 0;
} */

#date {
	width: 50%;
	margin-left: 1rem;
}

.info-icon {
	margin-left: 1rem;
}

.sign {
	margin: 15px;
}
