{% extends 'layout/base.html' %} {% block title %} Success {% endblock %} {% block stylesheets %}
<link rel="stylesheet" href="/static/upload/upload.css" />
{%endblock stylesheets %} {% block javascript %} {% endblock javascript%} {% block content %}
<div class="container">
	<div class="card shadow">
		<div class="card-body"></div>
		<div class="alert alert-success sign" role="alert">
			<h4 class="alert-heading">อัปโหลดข้อมูลสำเร็จ!</h4>
			<p class="mb-0">จำนวนข้อมูลที่อัปโหลด: <b>{{campaignLength}}</b> แถว</p>
		</div>
	</div>
</div>
{%endblock%}
