@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap");

.form-check-input:checked {
	background-color: var(--primary-color);
	border-color: var(--primary-color);
}

#filter-button:hover {
	color: var(--primary-color);
}

#queryEditor {
	margin: 15px;
}

.row {
	margin-top: 1rem;
}

.col {
	margin-left: 5px;
	margin-right: 5px;
}

th,
td {
	text-align: center;
	vertical-align: middle;
}

.cell-highlight {
	background-color: var(--primary-color-light);
}

.query-date-input {
	width: 100%;
}

.current-dashboard {
	color: var(--primary-color);
}

.query-submit-buttons {
	margin-top: 15px;
}

.query-submit-buttons button {
	margin-left: 5px;
}

.section {
	margin-top: 20px;
	padding: 10px;
	/* border-radius: 5px;
	border: 2px solid;
	color: var(--primary-color-light); */
}

.card-body > .graph-title {
	color: black;
	text-align: center;
}

.padding-little {
	padding: 10px;
}

#chart-test-1 .card {
	margin-bottom: 5px;
}

.hidden {
	display: none;
}

.facebook_color {
	background-color: #92c0ee;
}

.instagram_color {
	background-color: #dce8b6;
}

.line_color {
	background-color: #addcb1;
}

.google_color {
	background-color: #eb8888;
}

.icon {
	font-size: 1em;
}
